@import '~assets/styles/variables.scss';

.timeline {
  background-color: map-get($map: $color, $key: bgColor);
  position: relative;
  z-index: 0;
  overflow: hidden;
  height: 100%;

  &::before {
    content: '';
    position: absolute;
    top: 33px;
    left: 35px;
    height: 100%;
    width: 2px;
    background-color: map-get($map: $color, $key: line);
    z-index: -1;
  }

  > .cards {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 88px 0 0 21px;
  }
}
