@import '~assets/styles/variables.scss';

.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-size: 12px;
  color: map-get($map: $color, $key: text);

  > thead > tr,
  > tbody > tr:not(:last-child) {
    border-bottom: solid thin map-get($map: $color, $key: borderBetweenLine);
  }

  th {
    font-weight: 600;
  }

  td,
  th {
    padding: 10px 0;

    &:nth-child(2) {
      width: 22%;
    }
  }
}
