.wrapper {
  display: flex;
  margin-bottom: 36px;

  > .card {
    margin-left: 19px;
    transform: translateX(-500px);
    transition: ease-out 0.3s;
  }

  > .card-show {
    transform: translateX(0);
  }

  > .icon {
    padding-top: 10px;
  }
}
