@import '~assets/styles/variables.scss';

.card {
  position: relative;
  color: map-get($map: $color, $key: label);
  width: 416px;
  box-shadow: 0 2px 4.5px rgba(0, 0, 0, 0.12);
  z-index: 1;
  border-radius: 7px;

  &::before {
    content: '';
    position: absolute;
    display: block;
    z-index: -1;
    top: 16px;
    left: -6px;
    width: 16px;
    height: 16px;
    background: map-get($map: $color, $key: header);
    transform: rotate(-45deg);
    box-shadow: 0 2px 4.5px rgba(0, 0, 0, 0.12);
  }

  > .header {
    background-color: map-get($map: $color, $key: header);
    height: 42px;
    padding: 16px 21px 0;
    display: flex;
    justify-content: flex-start;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

    > ul {
      display: flex;
      justify-content: space-between;
      width: 100%;

      > li {
        display: inline-block;
      }
    }
  }

  > .body {
    padding: 0 21px 9px;
    background-color: map-get($map: $color, $key: backgroundTable);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
}
