@import '~assets/styles/variables.scss';

.icon {
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;

  &--sm {
    width: map-get($size-icon, sm);
    height: map-get($size-icon, sm);
  }

  &--md {
    width: map-get($size-icon, md);
    height: map-get($size-icon, md);
  }
}
