$color: (
  bgColor: #eff1fc,
  line: #dcdddf,
  header: #fff,
  icon: #bebebe,
  text: #6f6f6f,
  lineTable: #f8f8f8,
  borderBetweenLine: #f3f3f3,
  backgroundTable: #f8f8f8
);

$size-icon: (
  sm: 12px,
  md: 28px
);
